#header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 1rem;
}

#header h1 {
    font-size: 1.8rem;
    color: var(--primary);
}

#header p {
    color: var(--text-muted);
    font-weight: 500;
}